<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base1::layout(~{::section})">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
     <link  rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Smart Contact-Dashboard!!</title>
  </head>
  
  
  
  <body>
    
    

   <section>
   
     <h1>This is CHange password page</h1>
   
   </section>

   
   
   
   
  </body>
</html>