<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
     <link  rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Smart Contact-Dashboard!!</title>
  </head>
  
  
  
  <body>
    
    

   <section>
        <div class= "Dashboard-banner">
           <div class="row">
           
               <div class="loginBanner col-md-8 offset-md-2">
                  
                <h1 class="text-center">Dashboard</h1> 
               </div>
           
           </div>
        
        </div>  
   
   
   </section>

   
   
   
   
  </body>
</html>