body
{
	width:100%;
	height:cover;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) ,url(../images/signup-poster.jpg) ;
	background-size: cover;
	color:white;
}


.signposters
{
	width:100%;
	height:cover;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) ,url(../images/booth.jpg) ;
	background-size: cover;
	color:white;
}

.about-banner
{
	width:100%;
	height:cover;
	background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)) ,url(../images/house.jpg) ;
	background-size: cover;
	color:white;
}
.content{
	
	background-color: #C8F2EF;
}

.bannerr{
	
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../images/Banner.jpg);
	background-size: cover;
	color:white;
	
	
}



.containers{
	
	padding:100px 100px 200px 470px;
}

.login-banner
{
	
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../images/food.jpg);
	background-size: cover;
	color:white;
	
}

.container
{
	background-size: cover;
	
	padding:10px;
}

.cardTypeLogin{
	
	margin-left: 45px;
}




.Registeration{
	
	margin-top: 100px;
}



*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	list-style-type:none;
	text-decoration:none;
	font-family:'Poppins',sans-serif;
}

.sidebar{
	width:15%;
	position: fixed;
	height:100%;
	top:0;
	left:0;
	background: var(--main-color);
	
}

.main-content{
	margin-left:1000px;
}

.user-wrapper{
	margin-left:40px;
	padding:10px;
	
}

.content-bar{
	margin-left: 25%;
	padding-left: 20px;
}

.dashboard{
	margin-left: 10px;
	padding: 100px 100px 100px 400px;
}

.sidebarr{
	padding:20px;
}








