body
{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) ,url(../images/signup-poster.jpg) ;
	background-size: cover;
	color:white;
}
.content{
	
	background-color: #C8F2EF;
}

.bannerr{
	
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../images/Banner.jpg);
	background-size: cover;
	color:white;
	
	
}

.container{
	
	padding: 15px;
	
}

.cardTypeLogin
{
	margin-top:10%;
    margin-left: 35%;
	padding:40px;
	background: url("../images/banner.jpg");
}


